* {}

body {
  background-image: url(../imgs/stars.gif);
  z-index: -1;
}

.title {
  text-align: center;
  display: center;
  color: rgb(57, 255, 20);
  font-family: 'Bungee Outline';
  font-size: 70px;
  margin-bottom: 0px;
}

#gameBoard {
  display: none;
}

.difficulty {
  display: center;
  text-align: center;
}

.container {
  margin: 0 auto;
  background-size: 100% 100%;
  border: 1px solid rgb(57, 255, 20);
  border-collapse: collapse;
  text-align: center;
}

td {
  width: 45px;
  height: 45px;
  color: rgb(57, 255, 20);
  font-size: 25px;
  font-weight: 800;
  border: .1px solid rgb(39, 112, 24);
}

.flag {
  background-image: url(../imgs/bewareAlien.png);
  background-size: 100%;
}

button {
  display: inline-block;
  margin: 30px;
  padding: 5px;
  border: 2px outset gray;
  background: #262728;
  color: rgb(57, 255, 20);
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}

button:hover {
  cursor: pointer;
}

.alien {
  background-image: url(../imgs/alienHead.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer {
  color: rgb(57, 255, 20);
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.gameBoardLose {
  background-image: url(../imgs/id4.gif);
  margin: 0 auto;
  background-size: 100% 100%;
}

.gameBoardWin {
  background-image: url(../imgs/warIsOver.gif);
  margin: 0 auto;
  background-size: 100% 100%;
}

table.gameBoardWin td {
  border-color: rgba(57, 255, 20, 0);
  background-image: url('');
  color: rgba(57, 255, 20, 0);
}

table.gameBoardLose td {
  border-color: rgba(57, 255, 20, 0);
  background-image: url('');
  color: rgba(57, 255, 20, 0);
}

#instructions {
  background-image: url(../imgs/stars.gif);
  width: 50%;
  margin: 0 auto;
  background-color: white;
  display: none;
  font-family: 'Bungee Inline';
  font-size: 35px;
}

p {
  text-align: center;
  color: white;
  font-size: 21px;
  margin: 1 auto;
}

.p1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 1 auto;
}

.loser1 {
  background-image: url(../imgs/dacingAlien.gif);
  width: 150px;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: absolute;
  margin-left: 150px;
}

.loser2 {
  background-image: url(../imgs/dacingAlien.gif);
  width: 150px;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  margin-right: 150px;
}
